._banner {
  background: url("../image/AboutsUs/Brief.jpg") no-repeat center/cover;
}

.main ._article {
  font-size: 0;
}

.main ._article ._article-right ._brief-article {
  padding: 32px 0 60px;
}

.main ._article ._article-right ._brief-article h2 {
  font-size: 30px;
  font-family: SourceHanSerifCN-Heavy, SimSun;
  color: #003b8c;
  letter-spacing: 1px;
  font-weight: 900;
}

.main ._article ._article-right ._brief-article h3 {
  margin: 20px 6px 0 0;
  position: relative;
  opacity: 0.6;
  display: inline-block;
  font-size: 22px;
  font-family: SourceHanSerifCN-Heavy, SimSun;
  color: #dfb876;
  letter-spacing: 1.16px;
  font-weight: 900;
}

.main ._article ._article-right ._brief-article h3#h3:after {
  content: "";
  width: 5px;
  height: 5px;
  background: #ebd4ad;
  border-radius: 4px;
  position: absolute;
  top: 12px;
  right: -8px;
}

.main ._article ._article-right ._brief-article p {
  font-size: 16px;
  color: #8b8ea0;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 500;
  margin-top: 32px;
  font-family: PingFangSC-Medium;
}

.main ._article ._article-right ._brief-article h4 {
  font-size: 22px;
  color: #0b0625;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 500;
  margin-top: 32px;
  font-family: SourceHanSerifCN-Medium, SimSun;
  font-weight: 900;
}

.main ._article ._article-right ._brief-article .subTitle {
  font-size: 20px;
  font-family: SourceHanSerifCN-Medium, SimSun;
  color: #0b0625;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 32px;
  padding-left: 22px;
  position: relative;
}

.main ._article ._article-right ._brief-article .subTitle:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #d1ab6a;
  position: absolute;
  top: 12px;
  left: 0;
}

.main ._article ._article-right ._brief-article .subTitle span {
  font-size: 16px;
  color: #8b8ea0;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 500;
  font-family: PingFangSC-Medium;
}

.main ._article ._article-right ._brief-article .collection {
  display: flex;
}

.main ._article ._article-right ._brief-article .collection li {
  margin-right: 20%;
  font-size: 16px;
  color: #8b8ea0;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 500;
  font-family: PingFangSC-Medium;
}

.main ._article ._article-right ._brief-article .collection li p {
  font-size: 16px;
  color: #8b8ea0;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 500;
  margin-top: 16px;
  font-family: PingFangSC-Medium;
}

.main ._article ._article-right ._brief-article .collection li img {
  width: 150px;
  height: auto;
}

.main ._article ._article-right ._brief-article ._contact {
  margin-top: 24px;
  position: relative;
  height: 331px;
}

.main ._article ._article-right ._brief-article ._contact ._contact-left {
  width: 57%;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  background-image: url("../image/AboutsUs/global-school.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main ._article ._article-right ._brief-article ._contact ._contact-right {
  display: inline-block;
  position: relative;
  left: 57%;
  width: 40%;
  padding-left: 25px;
  background-image: linear-gradient(141deg, #dfb876 0%, #d1ab6a 100%);
  padding-top: 27px;
}

.main ._article ._article-right ._brief-article ._contact ._contact-right ._title {
  position: relative;
}

.main ._article ._article-right ._brief-article ._contact ._contact-right ._title ._en {
  font-family: Butler-Bold;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: 0;
  font-weight: 700;
}

.main ._article ._article-right ._brief-article ._contact ._contact-right ._title ._cn {
  font-family: SourceHanSerifCN-Bold, SimSun;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 700;
  position: absolute;
  top: 20px;
}

.main ._article ._article-right ._brief-article ._contact ._contact-right > ul {
  margin-top: 54px;
  margin-bottom: 35px;
}

.main ._article ._article-right ._brief-article ._contact ._contact-right > ul li {
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 500;
  margin-top: 12px;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main ._article ._article-right ._brief-article ._contact ._contact-right > ul li p {
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 500;
  margin: unset;
  line-height: unset;
}

@media screen and (max-width: 768px) {
  .main ._banner {
    background: url("../image/mobile/big-news.jpg") no-repeat center/cover;
  }
  .main ._article ._article-right ._brief-article {
    padding: 30px 0;
  }
  .main ._article ._article-right ._brief-article h2 {
    font-size: 20px;
  }
  .main ._article ._article-right ._brief-article h3 {
    font-size: 16px;
    margin-top: 4px;
  }
  .main ._article ._article-right ._brief-article h3#h3:after {
    width: 4px;
    height: 4px;
    right: -7px;
    top: 10px;
  }
  .main ._article ._article-right ._brief-article p {
    margin-top: 24px;
    font-size: 14px;
    text-align: justify;
  }
  .main ._article ._article-right ._brief-article ._contact {
    height: auto;
  }
  .main ._article ._article-right ._brief-article ._contact ._contact-left {
    position: relative;
    width: 100%;
    height: 56vw;
  }
  .main ._article ._article-right ._brief-article ._contact ._contact-right {
    width: calc(100% - 16px);
    left: 0;
    padding: 20px 0 0 16px;
  }
  .main ._article ._article-right ._brief-article ._contact ._contact-right ._title ._en {
    font-size: 26px;
  }
  .main ._article ._article-right ._brief-article ._contact ._contact-right ._title ._cn {
    font-size: 20px;
  }
  .main ._article ._article-right ._brief-article ._contact ._contact-right ul {
    margin: 35px 0 24px;
  }
  .main ._article ._article-right ._brief-article ._contact ._contact-right ul li {
    margin-top: 10px;
    font-size: 14px;
  }
}
