._banner {
  background: url("../image/AboutsUs/Brief.jpg") no-repeat center / cover;
}

.main {
  ._article {
    font-size: 0;
    ._article-right {
      ._brief-article {
        padding: 32px 0 60px;
        h2 {
          font-size: 30px;
          font-family: SourceHanSerifCN-Heavy, SimSun;
          color: #003b8c;
          letter-spacing: 1px;
          font-weight: 900;
        }
        h3 {
          margin: 20px 6px 0 0;
          position: relative;
          opacity: 0.6;
          display: inline-block;
          font-size: 22px;
          font-family: SourceHanSerifCN-Heavy, SimSun;
          color: #dfb876;
          letter-spacing: 1.16px;
          font-weight: 900;
          &#h3:after {
            content: "";
            width: 5px;
            height: 5px;
            background: #ebd4ad;
            border-radius: 4px;
            position: absolute;
            top: 12px;
            right: -8px;
          }
        }
        p {
          font-size: 16px;
          color: #8b8ea0;
          letter-spacing: 0;
          line-height: 28px;
          font-weight: 500;
          margin-top: 32px;
          font-family: PingFangSC-Medium;
        }
        h4 {
          font-size: 22px;
          color: #0b0625;
          letter-spacing: 0;
          line-height: 28px;
          font-weight: 500;
          margin-top: 32px;
          font-family: SourceHanSerifCN-Medium, SimSun;
          font-weight: 900;
        }
        .subTitle {
          font-size: 20px;
          font-family: SourceHanSerifCN-Medium, SimSun;
          color: #0b0625;
          letter-spacing: 1px;
          font-weight: 500;
          margin-top: 32px;
          padding-left: 22px;
          position: relative;
          &:before {
            content: "";
            width: 10px;
            height: 10px;
            background: #d1ab6a;
            position: absolute;
            top: 12px;
            left: 0;
          }

          span {
            font-size: 16px;
            color: #8b8ea0;
            letter-spacing: 0;
            line-height: 28px;
            font-weight: 500;
            // margin-top: 32px;
            font-family: PingFangSC-Medium;
          }
        }
        .collection {
          display: flex;
          li {
            margin-right: 20%;
            font-size: 16px;
            color: #8b8ea0;
            letter-spacing: 0;
            line-height: 28px;
            font-weight: 500;
            font-family: PingFangSC-Medium;
            p {
              font-size: 16px;
              color: #8b8ea0;
              letter-spacing: 0;
              line-height: 28px;
              font-weight: 500;
              margin-top: 16px;
              font-family: PingFangSC-Medium;
            }

            img {
              width: 150px;
              height: auto;
            }
          }
        }

        ._contact {
          margin-top: 24px;
          position: relative;
          height: 331px;
          ._contact-left {
            width: 57%;
            height: 100%;
            display: inline-block;
            position: absolute;
            left: 0;
            background-image: url("../image/AboutsUs/global-school.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
          ._contact-right {
            display: inline-block;
            position: relative;
            left: 57%;
            width: 40%;
            padding-left: 25px;
            background-image: linear-gradient(141deg, #dfb876 0%, #d1ab6a 100%);
            padding-top: 27px;
            ._title {
              position: relative;
              ._en {
                font-family: Butler-Bold;
                font-size: 32px;
                color: rgba(255, 255, 255, 0.3);
                letter-spacing: 0;
                font-weight: 700;
              }
              ._cn {
                font-family: SourceHanSerifCN-Bold, SimSun;
                font-size: 24px;
                color: #ffffff;
                letter-spacing: 1px;
                font-weight: 700;
                position: absolute;
                top: 20px;
              }
            }
            > ul {
              margin-top: 54px;
              margin-bottom: 35px;
              li {
                font-family: PingFangSC-Medium;
                font-size: 16px;
                color: #ffffff;
                letter-spacing: 0;
                font-weight: 500;
                margin-top: 12px;
                overflow: hidden;
                display: block;
                text-overflow: ellipsis;
                white-space: nowrap;
                p {
                  font-size: 16px;
                  color: #ffffff;
                  letter-spacing: 0;
                  font-weight: 500;
                  margin: unset;
                  line-height: unset;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    ._banner {
      background: url("../image/mobile/big-news.jpg") no-repeat center / cover;
    }
    ._article {
      ._article-right {
        ._brief-article {
          padding: 30px 0;
          h2 {
            font-size: 20px;
          }
          h3 {
            font-size: 16px;
            margin-top: 4px;
            &#h3:after {
              width: 4px;
              height: 4px;
              right: -7px;
              top: 10px;
            }
          }
          p {
            margin-top: 24px;
            font-size: 14px;
            text-align: justify;
          }
          ._contact {
            height: auto;
            ._contact-left {
              position: relative;
              width: 100%;
              height: 56vw;
            }
            ._contact-right {
              width: calc(100% - 16px);
              left: 0;
              padding: 20px 0 0 16px;
              ._title {
                ._en {
                  font-size: 26px;
                }
                ._cn {
                  font-size: 20px;
                }
              }
              ul {
                margin: 35px 0 24px;
                li {
                  margin-top: 10px;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
