// @font-face {
//   font-family: "Butler_Bold", "Butler_Medium";
//   src: url("../font-family/Butler_Bold.ttf"),
//     url("../font-family/Butler_Medium.ttf");
// }
@font-face {
  font-family: "Butler_Bold";
  src: url("../font-family/Butler_Bold.ttf");
}
@font-face {
  font-family: "Butler_Medium";
  src: url("../font-family/Butler_Medium.ttf");
}
body {
  font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
}

//网站地图
.side_box {
  width: 25%;
  position: absolute;
  top: 0;
  right: -28%;
  z-index: 5;
  padding: 124px 16px 0 40px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
  visibility: hidden;
  background: #003b8c;
  h4 {
    position: relative;
    color: white;
    padding-left: 30px;
    line-height: 28px;
    margin-bottom: 36px;
    font-weight: 600;
    font-size: 16px;
    &:before {
      content: url("../image/earth.svg");
      position: absolute;
      width: 22px;
      height: 22px;
      top: 3px;
      left: 0;
    }
  }
  > ul {
    > li {
      float: left;
      position: relative;
      width: 33.33%;
      height: 330px;
      &:after {
        content: "";
        width: 1px;
        height: 8px;
        background: #4d76ae;
        position: absolute;
        top: 5px;
        right: 30%;
      }
      &:last-child,
      &:nth-child(3),
      &:nth-child(6) {
        &:after {
          display: none;
        }
      }
      &.clear {
        clear: both;
        width: 100%;
        height: 0;
      }
      a {
        color: rgba(255, 255, 255, 0.8);
        font-weight: 400;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
      }
      > a {
        font-weight: 600;
        font-size: 14px;
        color: rgba(255, 255, 255, 1);
      }
      ul {
        padding-top: 10px;
        li {
          text-align: left;
          padding-top: 10px;
          ul {
            display: none;
          }
        }
      }
    }
  }
}

//遮幕
#side_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 5;
  display: none;
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
  opacity: 0.2;
}

.open_side_bar #side_mask {
  //display: block;
}

.open_side_bar .side_box {
  right: 0;
  opacity: 1;
  visibility: visible;
}

.open_nav .header-menu > ul {
  display: block;
}

.open_nav ._article ._article-left {
  display: block;
}

.all {
  overflow: hidden;
  position: relative;
}

//分页banner跟分页标题(无二级菜单)
.main {
  .possplit {
    background-image: url(../image/Financing_Project/next.svg);
    background-size: 10px 10px;
    vertical-align: text-bottom;
    height: 10px;
    width: 15px;
    margin-left: 4px;
  }
  ._banner {
    width: 100%;
    height: 16vw;
  }
  .main-title-left {
    display: inline-block;
    .title-cn {
      font-size: 24px;
      color: #0b0625;
      letter-spacing: 1px;
      font-weight: 500;
    }
    .bg {
      height: 5px;
      margin-top: -4px;
      background-image: linear-gradient(
        202deg,
        rgba(234, 213, 163, 0) 0%,
        #d1ab6a 100%
      );
    }
  }
  .main-title-right {
    a {
      display: inline-block;
      margin-left: 6px;
      // vertical-align: sub;
      font-size: 14px;
      color: #999999;
      letter-spacing: 0.88px;
      font-weight: 500;
      &:last-child {
        color: #d1ab6a;
      }
    }

    li {
      display: inline-block;
      margin-left: 6px;
      vertical-align: middle;
      a {
        width: 100%;
        span {
          font-size: 14px;
          color: #999999;
          letter-spacing: 0.88px;
          font-weight: 500;
        }
      }
      &:last-child {
        span {
          color: #d1ab6a;
        }
      }
    }
  }
}

//分页左侧二级菜单
._article-left {
  width: 16.5%;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
  padding-bottom: 50px;
  ._left-bg {
    background: url("../image/information-dynamic/information-bg.jpg") no-repeat
      center / cover;
    width: 100%;
    padding-top: 52px;
    padding-bottom: 36px;
    text-align: center;
    ._title-cn {
      font-size: 30px;
      font-family: SourceHanSerifCN-Medium, SimSun;
      color: #d1ab6a;
      letter-spacing: 1.25px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      font-weight: 500;
    }
    ._title-en {
      margin-top: 4px;
      opacity: 0.3;
      font-family: Butler-Bold;
      font-size: 12px;
      color: #ffffff;
      letter-spacing: 0.7px;
      font-weight: 700;
    }
  }
  ._left-list {
    width: 100%;
    display: block;
    background: #eef7ff;
    > li {
      position: relative;
      padding: 20px 0;
      text-align: center;
      &:after {
        content: "";
        width: 70%;
        height: 1px;
        background: rgba(0, 0, 0, 0.1);
        position: absolute;
        bottom: 0;
        left: 15%;
      }
      .selected-child {
        display: none;
        top: 20px;
        position: relative;
        li {
          padding: 13px 0;
          background: #e2e2e2;
          a {
            font-size: 14px;
            color: #787a7d;
            letter-spacing: 0;
            font-weight: 400;
          }
          &:hover,
          &.tex {
            background: #0c4794;
            a {
              color: #ffffff;
            }
          }
        }
      }
      &:hover,
      &.selected {
        .selected-child {
          display: block;
        }
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 100%;
          background-image: linear-gradient(269deg, #003b8c 0%, #003b8c 100%);
        }
        > a {
          color: #003b8c;
          font-weight: 600;
        }
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      > a {
        width: 100%;
        font-size: 16px;
        color: #787a7d;
        letter-spacing: 0;
        font-weight: 500;
      }
    }
  }
}

//右侧标题栏位置(有二级菜单)
._article-right {
  display: inline-block;
  //left: 20%;
  width: 80.5%;
  padding-left: 3%;
  .title-main {
    padding: 48px 0 32px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .main-title-left {
      .title-cn {
        font-family: SourceHanSerifCN-Medium, SimSun;
        position: relative;
        font-weight: 500;
        top: 0;
      }
      .bg {
        height: 5px;
        margin-top: -4px;
        background-image: linear-gradient(
          202deg,
          rgba(234, 213, 163, 0) 0%,
          #d1ab6a 100%
        );
      }
    }
    .main-title-right {
      position: absolute;
      right: 0;
      top: 60px;
    }
  }
}

@media screen and (max-width: 768px) {
  .center-area {
    margin: 0 auto;
    width: 92.6%;
  }
  .main {
    ._banner {
      height: 30vw;
    }
    ._article {
      ._article-right {
        width: 100%;
        padding: 0;
        .title-main {
          padding: 30px 0;
        }
        .main-title-right {
          position: relative;
          right: unset;
          left: 0;
          top: 12px;
        }
      }
      ._article-left {
        position: relative;
        width: 107.4%;
        left: -3.7%;
        height: 60px;
        ._left-bg {
          padding: 0;
          ._title-cn {
            padding: 16px 0;
            font-size: 20px;
            letter-spacing: 0.83px;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          }
          ._title-en {
            display: none;
          }
        }
        ._left-list {
          display: none;
          > li {
            &:hover,
            &.selected {
              &:before {
                width: unset;
              }
            }
            .selected-child {
              width: 90%;
              left: 5%;
            }
          }
        }
      }
    }
  }
}
.wp_paging {
  text-align: center;
  margin: 20px 0 60px 0;
  float: none;
}

.wp_paging li {
  float: none;
}
