@font-face {
  font-family: "Butler_Bold";
  src: url("../font-family/Butler_Bold.ttf");
}

@font-face {
  font-family: "Butler_Medium";
  src: url("../font-family/Butler_Medium.ttf");
}

body {
  font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.side_box {
  width: 25%;
  position: absolute;
  top: 0;
  right: -28%;
  z-index: 5;
  padding: 124px 16px 0 40px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
  visibility: hidden;
  background: #003b8c;
}

.side_box h4 {
  position: relative;
  color: white;
  padding-left: 30px;
  line-height: 28px;
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 16px;
}

.side_box h4:before {
  content: url("../image/earth.svg");
  position: absolute;
  width: 22px;
  height: 22px;
  top: 3px;
  left: 0;
}

.side_box > ul > li {
  float: left;
  position: relative;
  width: 33.33%;
  height: 330px;
}

.side_box > ul > li:after {
  content: "";
  width: 1px;
  height: 8px;
  background: #4d76ae;
  position: absolute;
  top: 5px;
  right: 30%;
}

.side_box > ul > li:last-child:after, .side_box > ul > li:nth-child(3):after, .side_box > ul > li:nth-child(6):after {
  display: none;
}

.side_box > ul > li.clear {
  clear: both;
  width: 100%;
  height: 0;
}

.side_box > ul > li a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 14px;
}

.side_box > ul > li a:hover {
  text-decoration: underline;
}

.side_box > ul > li > a {
  font-weight: 600;
  font-size: 14px;
  color: white;
}

.side_box > ul > li ul {
  padding-top: 10px;
}

.side_box > ul > li ul li {
  text-align: left;
  padding-top: 10px;
}

.side_box > ul > li ul li ul {
  display: none;
}

#side_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 5;
  display: none;
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
  opacity: 0.2;
}

.open_side_bar .side_box {
  right: 0;
  opacity: 1;
  visibility: visible;
}

.open_nav .header-menu > ul {
  display: block;
}

.open_nav ._article ._article-left {
  display: block;
}

.all {
  overflow: hidden;
  position: relative;
}

.main .possplit {
  background-image: url(../image/Financing_Project/next.svg);
  background-size: 10px 10px;
  vertical-align: text-bottom;
  height: 10px;
  width: 15px;
  margin-left: 4px;
}

.main ._banner {
  width: 100%;
  height: 16vw;
}

.main .main-title-left {
  display: inline-block;
}

.main .main-title-left .title-cn {
  font-size: 24px;
  color: #0b0625;
  letter-spacing: 1px;
  font-weight: 500;
}

.main .main-title-left .bg {
  height: 5px;
  margin-top: -4px;
  background-image: linear-gradient(202deg, rgba(234, 213, 163, 0) 0%, #d1ab6a 100%);
}

.main .main-title-right a {
  display: inline-block;
  margin-left: 6px;
  font-size: 14px;
  color: #999999;
  letter-spacing: 0.88px;
  font-weight: 500;
}

.main .main-title-right a:last-child {
  color: #d1ab6a;
}

.main .main-title-right li {
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
}

.main .main-title-right li a {
  width: 100%;
}

.main .main-title-right li a span {
  font-size: 14px;
  color: #999999;
  letter-spacing: 0.88px;
  font-weight: 500;
}

.main .main-title-right li:last-child span {
  color: #d1ab6a;
}

._article-left {
  width: 16.5%;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
  padding-bottom: 50px;
}

._article-left ._left-bg {
  background: url("../image/information-dynamic/information-bg.jpg") no-repeat center/cover;
  width: 100%;
  padding-top: 52px;
  padding-bottom: 36px;
  text-align: center;
}

._article-left ._left-bg ._title-cn {
  font-size: 30px;
  font-family: SourceHanSerifCN-Medium, SimSun;
  color: #d1ab6a;
  letter-spacing: 1.25px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

._article-left ._left-bg ._title-en {
  margin-top: 4px;
  opacity: 0.3;
  font-family: Butler-Bold;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0.7px;
  font-weight: 700;
}

._article-left ._left-list {
  width: 100%;
  display: block;
  background: #eef7ff;
}

._article-left ._left-list > li {
  position: relative;
  padding: 20px 0;
  text-align: center;
}

._article-left ._left-list > li:after {
  content: "";
  width: 70%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 15%;
}

._article-left ._left-list > li .selected-child {
  display: none;
  top: 20px;
  position: relative;
}

._article-left ._left-list > li .selected-child li {
  padding: 13px 0;
  background: #e2e2e2;
}

._article-left ._left-list > li .selected-child li a {
  font-size: 14px;
  color: #787a7d;
  letter-spacing: 0;
  font-weight: 400;
}

._article-left ._left-list > li .selected-child li:hover, ._article-left ._left-list > li .selected-child li.tex {
  background: #0c4794;
}

._article-left ._left-list > li .selected-child li:hover a, ._article-left ._left-list > li .selected-child li.tex a {
  color: #ffffff;
}

._article-left ._left-list > li:hover .selected-child, ._article-left ._left-list > li.selected .selected-child {
  display: block;
}

._article-left ._left-list > li:hover:before, ._article-left ._left-list > li.selected:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-image: linear-gradient(269deg, #003b8c 0%, #003b8c 100%);
}

._article-left ._left-list > li:hover > a, ._article-left ._left-list > li.selected > a {
  color: #003b8c;
  font-weight: 600;
}

._article-left ._left-list > li:last-child:after {
  display: none;
}

._article-left ._left-list > li > a {
  width: 100%;
  font-size: 16px;
  color: #787a7d;
  letter-spacing: 0;
  font-weight: 500;
}

._article-right {
  display: inline-block;
  width: 80.5%;
  padding-left: 3%;
}

._article-right .title-main {
  padding: 48px 0 32px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

._article-right .title-main .main-title-left .title-cn {
  font-family: SourceHanSerifCN-Medium, SimSun;
  position: relative;
  font-weight: 500;
  top: 0;
}

._article-right .title-main .main-title-left .bg {
  height: 5px;
  margin-top: -4px;
  background-image: linear-gradient(202deg, rgba(234, 213, 163, 0) 0%, #d1ab6a 100%);
}

._article-right .title-main .main-title-right {
  position: absolute;
  right: 0;
  top: 60px;
}

@media screen and (max-width: 768px) {
  .center-area {
    margin: 0 auto;
    width: 92.6%;
  }
  .main ._banner {
    height: 30vw;
  }
  .main ._article ._article-right {
    width: 100%;
    padding: 0;
  }
  .main ._article ._article-right .title-main {
    padding: 30px 0;
  }
  .main ._article ._article-right .main-title-right {
    position: relative;
    right: unset;
    left: 0;
    top: 12px;
  }
  .main ._article ._article-left {
    position: relative;
    width: 107.4%;
    left: -3.7%;
    height: 60px;
  }
  .main ._article ._article-left ._left-bg {
    padding: 0;
  }
  .main ._article ._article-left ._left-bg ._title-cn {
    padding: 16px 0;
    font-size: 20px;
    letter-spacing: 0.83px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }
  .main ._article ._article-left ._left-bg ._title-en {
    display: none;
  }
  .main ._article ._article-left ._left-list {
    display: none;
  }
  .main ._article ._article-left ._left-list > li:hover:before, .main ._article ._article-left ._left-list > li.selected:before {
    width: unset;
  }
  .main ._article ._article-left ._left-list > li .selected-child {
    width: 90%;
    left: 5%;
  }
}

.wp_paging {
  text-align: center;
  margin: 20px 0 60px 0;
  float: none;
}

.wp_paging li {
  float: none;
}
