.main {
  width: 100%;
  ._banner {
    background: url("../image/Financing_Project/library.jpg") no-repeat center /
      cover;
  }
  .Financing_Article {
    padding: 48px 0 60px;
    position: relative;
    .main-title-left {
      .title-cn {
        position: relative;
        top: 0;
        font-family: SourceHanSerifCN-Medium, SimSun;
      }
    }
    .main-title-right {
      position: absolute;
      top: 63px;
      right: 0;
      .possplit {
        vertical-align: middle;
      }
    }
    .title-thumbs {
      margin-top: 32px;
      padding-top: 32px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      position: relative;
      font-size: 0;
      display: flex;
      justify-content: space-around;
      > li {
        width: 100%;
        background: rgba(209, 171, 106, 0.08);
        padding-left: 20px;
        padding-top: 42px;
        margin-right: 13px;
        &:last-child {
          margin-right: 0;
        }
        .article-title {
          .title-en {
            font-family: Butler-Medium;
            font-size: 14px;
            color: rgba(209, 171, 106, 0.4);
            letter-spacing: 0;
            font-weight: 500;
          }
          .title-cn {
            font-size: 24px;
            font-family: SourceHanSerifCN-Medium, SimSun;
            color: #d1ab6a;
            letter-spacing: 1.5px;
            font-weight: 500;
          }
        }
        .article_picture {
          margin-top: 20px;
          margin-bottom: 18px;
          img {
            width: 100%;
          }
        }
        .article-list {
          height: auto;
          padding-right: 10px;
          padding-bottom: 30px;
          > li {
            margin-bottom: 22px;
            span {
              font-family: Butler-Medium;
              font-size: 16px;
              color: rgba(209, 171, 106, 0.7);
              letter-spacing: 0;
              text-align: center;
              font-weight: 500;
              margin-right: 6px;
            }
            a {
              //   display: flex;
              font-size: 16px;
              color: #7d7e87;
              letter-spacing: 0;
              font-weight: 500;
              &:hover {
                color: #d1ab6a;
              }
              span {
                font-family: Butler-Medium;
                font-size: 16px;
                color: rgba(209, 171, 106, 0.7);
                letter-spacing: 0;
                text-align: center;
                font-weight: 500;
                margin-right: 6px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    ._banner {
      background: url("../image/mobile/library.jpg") no-repeat center / cover;
    }
    .Financing_Article {
      padding: 30px 0;
      .main-title-right {
        position: relative;
        top: 12px;
      }
      .title-thumbs {
        padding-top: 20px;
        margin-top: 32px;
        display: block;
        width: 100%;
        > li {
          width: calc(100% - 20px);
          padding: 30px 0 0 20px;
          margin: 0;
          margin-bottom: 20px;
          .article-title {
            .title-en {
              font-size: 10px;
            }
            .title-cn {
              font-size: 18px;
            }
          }
          .article-list {
            li {
              a {
                span {
                  font-size: 14px;
                }
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
