.footer {
  background: #133572;
  .footer-main {
    font-size: 0;
    .footer-list {
      position: relative;
      width: 100%;
      border-bottom: 0.5px solid rgba(255, 255, 255, 0.15);
      .footer-list-left {
        display: inline-block;
        ul {
          width: 100%;
          display: flex;
          li {
            padding: 20px 12px;
            &:before {
              content: "";
              width: 1px;
              height: 4px;
              opacity: 0.3;
              background: #ffffff;
              position: absolute;
              margin-top: 5px;
              margin-left: -12px;
            }
            &:first-child {
              padding-left: 0;
              &:before {
                display: none;
              }
            }
            a {
              width: 100%;
              span {
                font-size: 12px;
                font-family: PingFangSC-Regular;
                color: #ffffff;
                letter-spacing: 0;
                font-weight: 400;
              }
            }
          }
        }
      }
      .footer-list-right {
        position: absolute;
        right: 0;
        margin-top: -58px;
        ul {
          display: flex;
          li {
            padding: 20px 12px;
            &:nth-child(2) {
              &:before {
                content: "";
                width: 1px;
                height: 4px;
                opacity: 0.3;
                background: #ffffff;
                position: absolute;
                margin-top: 5px;
                margin-left: -12px;
              }
            }
            span {
              font-size: 12px;
              color: #ffffff;
              opacity: 0.8;
              letter-spacing: 0;
              font-family: PingFangSC-Regular;
              font-weight: 400;
            }
            &:last-child {
              padding: 16px 0;
              display: flex;
              a:first-child {
                margin-right: 12px;
              }
            }
          }
        }
      }
    }
    .footer-end {
      width: 100%;
      padding: 26px 0 24px;
      .end {
        display: block;
        position: relative;
        .certificate {
          width: 4.4%;
          float: left;
          img {
            width: 100%;
          }
        }
        .more {
          margin-left: 16px;
          display: inline-block;
          text-align: left;
          span {
            font-family: PingFangSC-Medium;
            font-size: 12px;
            color: #ffffff;
            letter-spacing: 0.5px;
            font-weight: 500;
          }
          .address {
            margin-bottom: 5px;
          }
          ul {
            display: flex;
            li {
              margin-right: 10px;
            }
          }
        }
        .more-right {
          position: absolute;
          right: 0;
          margin-top: -18px;
          span {
            font-family: PingFangSC-Medium;
            font-size: 12px;
            color: #ffffff;
            letter-spacing: 0.5px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    .footer-main {
      .footer-list {
        border-bottom: 0;
        padding: 16px 0;
        .footer-list-left {
          width: 100%;
          text-align: center;
          ul {
            display: block;
            li {
              display: inline-block;
              padding: 4px 3px;
              &:before {
                margin-left: -4px;
              }
            }
          }
        }
        .footer-list-right {
          position: relative;
          margin-top: 10px;
          text-align: center;
          ul {
            display: block;
            li {
              display: inline-block;
              padding: 2px 4px;
              &:nth-child(2):before {
                margin-left: -4px;
              }
              &:last-child {
                display: block;
                padding: 2px 0;
              }
            }
          }
        }
      }
      .footer-end {
        padding: 0 0 20px;
        .end {
          .certificate {
            width: 60px;
            position: relative;
            left: 50%;
            float: unset;
            transform: translate(-50%);
          }
          .more {
            margin: 0;
            text-align: center;
            display: block;
            .address {
              margin: 16px 0 12px;
              span {
                color: #a0aec6;
              }
            }
            ul {
              display: block;
              li {
                display: none;
                &:first-child {
                  display: block;
                  margin: 0;
                  text-align: center;
                  span {
                    color: #a0aec6;
                    line-height: 17px;
                  }
                }
              }
            }
          }
          .more-right {
            position: relative;
            text-align: center;
            margin: 0;
            padding-top: 24px;
            span {
              letter-spacing: 0;
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}
