.footer {
  background: #133572;
}

.footer .footer-main {
  font-size: 0;
}

.footer .footer-main .footer-list {
  position: relative;
  width: 100%;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.15);
}

.footer .footer-main .footer-list .footer-list-left {
  display: inline-block;
}

.footer .footer-main .footer-list .footer-list-left ul {
  width: 100%;
  display: flex;
}

.footer .footer-main .footer-list .footer-list-left ul li {
  padding: 20px 12px;
}

.footer .footer-main .footer-list .footer-list-left ul li:before {
  content: "";
  width: 1px;
  height: 4px;
  opacity: 0.3;
  background: #ffffff;
  position: absolute;
  margin-top: 5px;
  margin-left: -12px;
}

.footer .footer-main .footer-list .footer-list-left ul li:first-child {
  padding-left: 0;
}

.footer .footer-main .footer-list .footer-list-left ul li:first-child:before {
  display: none;
}

.footer .footer-main .footer-list .footer-list-left ul li a {
  width: 100%;
}

.footer .footer-main .footer-list .footer-list-left ul li a span {
  font-size: 12px;
  font-family: PingFangSC-Regular;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 400;
}

.footer .footer-main .footer-list .footer-list-right {
  position: absolute;
  right: 0;
  margin-top: -58px;
}

.footer .footer-main .footer-list .footer-list-right ul {
  display: flex;
}

.footer .footer-main .footer-list .footer-list-right ul li {
  padding: 20px 12px;
}

.footer .footer-main .footer-list .footer-list-right ul li:nth-child(2):before {
  content: "";
  width: 1px;
  height: 4px;
  opacity: 0.3;
  background: #ffffff;
  position: absolute;
  margin-top: 5px;
  margin-left: -12px;
}

.footer .footer-main .footer-list .footer-list-right ul li span {
  font-size: 12px;
  color: #ffffff;
  opacity: 0.8;
  letter-spacing: 0;
  font-family: PingFangSC-Regular;
  font-weight: 400;
}

.footer .footer-main .footer-list .footer-list-right ul li:last-child {
  padding: 16px 0;
  display: flex;
}

.footer .footer-main .footer-list .footer-list-right ul li:last-child a:first-child {
  margin-right: 12px;
}

.footer .footer-main .footer-end {
  width: 100%;
  padding: 26px 0 24px;
}

.footer .footer-main .footer-end .end {
  display: block;
  position: relative;
}

.footer .footer-main .footer-end .end .certificate {
  width: 4.4%;
  float: left;
}

.footer .footer-main .footer-end .end .certificate img {
  width: 100%;
}

.footer .footer-main .footer-end .end .more {
  margin-left: 16px;
  display: inline-block;
  text-align: left;
}

.footer .footer-main .footer-end .end .more span {
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.footer .footer-main .footer-end .end .more .address {
  margin-bottom: 5px;
}

.footer .footer-main .footer-end .end .more ul {
  display: flex;
}

.footer .footer-main .footer-end .end .more ul li {
  margin-right: 10px;
}

.footer .footer-main .footer-end .end .more-right {
  position: absolute;
  right: 0;
  margin-top: -18px;
}

.footer .footer-main .footer-end .end .more-right span {
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0.5px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .footer .footer-main .footer-list {
    border-bottom: 0;
    padding: 16px 0;
  }
  .footer .footer-main .footer-list .footer-list-left {
    width: 100%;
    text-align: center;
  }
  .footer .footer-main .footer-list .footer-list-left ul {
    display: block;
  }
  .footer .footer-main .footer-list .footer-list-left ul li {
    display: inline-block;
    padding: 4px 3px;
  }
  .footer .footer-main .footer-list .footer-list-left ul li:before {
    margin-left: -4px;
  }
  .footer .footer-main .footer-list .footer-list-right {
    position: relative;
    margin-top: 10px;
    text-align: center;
  }
  .footer .footer-main .footer-list .footer-list-right ul {
    display: block;
  }
  .footer .footer-main .footer-list .footer-list-right ul li {
    display: inline-block;
    padding: 2px 4px;
  }
  .footer .footer-main .footer-list .footer-list-right ul li:nth-child(2):before {
    margin-left: -4px;
  }
  .footer .footer-main .footer-list .footer-list-right ul li:last-child {
    display: block;
    padding: 2px 0;
  }
  .footer .footer-main .footer-end {
    padding: 0 0 20px;
  }
  .footer .footer-main .footer-end .end .certificate {
    width: 60px;
    position: relative;
    left: 50%;
    float: unset;
    transform: translate(-50%);
  }
  .footer .footer-main .footer-end .end .more {
    margin: 0;
    text-align: center;
    display: block;
  }
  .footer .footer-main .footer-end .end .more .address {
    margin: 16px 0 12px;
  }
  .footer .footer-main .footer-end .end .more .address span {
    color: #a0aec6;
  }
  .footer .footer-main .footer-end .end .more ul {
    display: block;
  }
  .footer .footer-main .footer-end .end .more ul li {
    display: none;
  }
  .footer .footer-main .footer-end .end .more ul li:first-child {
    display: block;
    margin: 0;
    text-align: center;
  }
  .footer .footer-main .footer-end .end .more ul li:first-child span {
    color: #a0aec6;
    line-height: 17px;
  }
  .footer .footer-main .footer-end .end .more-right {
    position: relative;
    text-align: center;
    margin: 0;
    padding-top: 24px;
  }
  .footer .footer-main .footer-end .end .more-right span {
    letter-spacing: 0;
    opacity: 0.6;
  }
}
