* {
  margin: 0;
  padding: 0;
}

ol,
ul,
li {
  list-style: none;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  border: 0;
}

.clearfix::before {
  display: none;
}

.clearfix::after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

@media screen and (max-width: 1280px) {
  .center-area {
    max-width: 1200px;
    margin: 0 auto;
    width: 83.4%;
  }
}

@media screen and (min-width: 1281px) {
  .center-area {
    max-width: 1600px;
    margin: 0 auto;
    width: 83.4%;
  }
}

@media screen and (min-width: 1680px) {
  body {
    max-width: 1680px;
    margin: 0 auto;
    width: 1680px;
  }
}

.header {
  position: relative;
  z-index: 9;
  background: #ffffff;
}

.header .header-logo {
  padding: 15px 0;
  height: 58px;
  position: relative;
  display: inline-block;
  left: 20px;
}

.header .header-logo img {
  width: 100%;
  height: 100%;
}

.header .header-menu {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
  text-align: center;
}

.header .header-menu > ul {
  position: absolute;
  right: 8.3%;
}

.header .header-menu > ul > li {
  display: inline-block;
  padding: 0 22px;
}

@media screen and (max-width: 1440px) {
  .header .header-menu > ul > li {
    padding: 0 12px;
  }
}

@media screen and (max-width: 1280px) {
  .header .header-menu > ul > li {
    padding: 0;
  }
}

@media screen and (max-width: 1080px) {
  .header .header-menu > ul > li {
    display: none;
  }
}

.header .header-menu > ul > li:hover {
  background: #d1ab6a;
}

.header .header-menu > ul > li:hover > a {
  color: #ffffff;
}

.header .header-menu > ul > li:hover > ul {
  display: block;
}

.header .header-menu > ul > li > a {
  padding: 34px 0;
  display: block;
  font-size: 14px;
  color: #3d3b45;
  letter-spacing: 1px;
  font-weight: 400;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header .header-menu > ul > li > ul {
  display: none;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  left: 10%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 200%;
}

.header .header-menu > ul > li > ul > li {
  display: inline-block;
  padding: 0 20px;
}

.header .header-menu > ul > li > ul > li a {
  line-height: 54px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header .header-menu > ul > li > ul > li:hover > a {
  color: #d6a769;
}

.header .header-menu > ul .selected {
  background: #d1ab6a;
}

.header .header-menu > ul .selected > a {
  color: #ffffff;
}

.header .header-menu > ul .parent {
  background: #d1ab6a;
}

.header .header-menu > ul .parent > a {
  color: #ffffff;
}

.header .header-menu .submenu-bg {
  position: absolute;
  z-index: 9;
  top: 88px;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(255, 255, 255, 0.76);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header .header-menu.show_bg_nav .submenu-bg {
  height: 54px;
}

.header .header-menu li:hover .submenu-bg {
  display: block;
}

.header .header-menu .header-right {
  position: absolute;
  right: 0;
  width: 8.3%;
  height: 88px;
}

.header .header-menu .header-right .search {
  float: left;
  width: 48%;
  position: relative;
  height: 100%;
  background: url("../image/search.svg");
  background-size: 16px 16px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  border-left: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
}

@media screen and (max-width: 1080px) {
  .header .header-menu .header-right .search {
    display: none;
  }
}

.header .header-menu .header-right .bar,
.header .header-menu .header-right .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 100%;
  width: 50%;
}

.header .header-menu .header-right .bar span,
.header .header-menu .header-right .hamburger span {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../image/right-next-menu.svg");
  background-size: cover;
}

.header .header-menu .header-right .bar.open span,
.header .header-menu .header-right .hamburger.open span {
  background: url("../image/right-next-menu-esc.svg");
  background-size: cover;
  width: 25px;
  height: 25px;
}

.header .header-menu .header-right .hamburger {
  display: none;
}

.plus,
.minus {
  display: none;
  position: absolute;
  width: 40px;
  height: 56px;
  top: 0;
  right: 0;
  cursor: pointer;
  background: url("../image/plus.svg") no-repeat center;
  background-size: 35%;
}

.minus {
  background: url("../image/mobile/minus.png") no-repeat center;
  background-size: 35%;
}

._article .plus {
  width: 60px;
  height: 60px;
}

._article .minus {
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 768px) {
  .header .header-logo {
    padding: 18px 0;
    left: 14px;
    height: 24px;
  }
  .header .header-menu.show_bg_nav .submenu-bg {
    display: none;
  }
  .header .header-menu ul {
    display: none;
    width: 100%;
    right: unset;
    left: 0;
    top: 60px;
  }
  .header .header-menu ul > li {
    display: block;
    background: #003b8c;
    position: relative;
  }
  .header .header-menu ul > li ul {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    transform: unset;
  }
  .header .header-menu ul > li ul li {
    display: block;
    background: #00317f;
  }
  .header .header-menu ul > li ul li:hover {
    background: #00317f;
  }
  .header .header-menu ul > li ul li a {
    line-height: 20px;
    padding: 10px 0;
    color: #ffffff;
    opacity: 0.7;
  }
  .header .header-menu ul > li ul li a:after {
    opacity: 0.08;
  }
  .header .header-menu ul > li:hover, .header .header-menu ul > li.openPhoneNav {
    background: #003b8c;
  }
  .header .header-menu ul > li:hover ul, .header .header-menu ul > li.openPhoneNav ul {
    display: none;
  }
  .header .header-menu ul > li:hover > a, .header .header-menu ul > li.openPhoneNav > a {
    color: #d1ab6a;
  }
  .header .header-menu ul > li > a {
    padding: 20px 0;
    color: #ffffff;
    opacity: 0.7;
    position: relative;
  }
  .header .header-menu ul > li > a:after {
    content: "";
    height: 1px;
    width: 100%;
    background: #ffffff;
    opacity: 0.1;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .header .header-menu .header-right {
    width: 60px;
    height: 60px;
    background: #003b8c;
  }
  .header .header-menu .header-right .bar {
    display: none;
  }
  .header .header-menu .header-right .hamburger {
    display: inline-block;
    width: 100%;
  }
  .header .header-menu .header-right .hamburger span {
    background: url("../image/mobile/hamburger.svg");
  }
  .header .header-menu .header-right .hamburger.open span {
    background: url("../image/mobile/hamburger.svg");
  }
  .plus,
  .minus {
    display: block;
  }
}
