@font-face {
  font-family: Butler_Bold, Butler_Medium;
  src: url("../font-family/Butler_Bold.ttf"),
    url("../font-family/Butler_Medium.ttf");
}

//点击切换轮播
.menu-level {
  font-size: 0;
  display: inline-block;
  position: relative;
  top: -34px;
  z-index: 1;
  .level-button {
    width: 130px;
    height: 71px;
    display: inline-block;
    background: #e2e2e2;
    position: relative;
    .level-button-en {
      font-size: 30px;
      color: #cfcfcf;
      letter-spacing: 0;
      font-family: Butler_Bold;
      font-weight: 700;
      opacity: 0.3;
      position: absolute;
      top: 8px;
      left: 12px;
    }
    .level-button-cn {
      font-size: 16px;
      color: #3a3842;
      letter-spacing: 1.14px;
      font-weight: 500;
      font-family: PingFangSC-Medium;
      position: absolute;
      top: 30px;
      left: 12px;
    }
    &.active {
      background: #003b8c;
      box-shadow: 0px 2px 16px 0px rgba(31, 109, 237, 0.36);
      .level-button-en {
        color: #ffffff;
      }
      .level-button-cn {
        color: #d1ab6a;
      }
      &:after {
        content: "";
        width: 0px;
        height: 0px;
        border-width: 10px;
        border-style: solid;
        border-color: #003b8c transparent transparent transparent;
        position: absolute;
        bottom: -20px;
        left: 44%;
      }
    }
  }
}

//轮播
.main-container {
  width: 65%;
  height: 206px;
  overflow: hidden;
  ul {
    li {
      font-size: 0;
      margin-top: 14px;
      &:first-child {
        margin: 0;
      }
      a {
        font-family: PingFangSC-Medium;
        font-size: 16px;
        color: #6a6c6d;
        letter-spacing: 0;
        font-weight: 500;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .day {
          font-family: Butler-Bold;
          font-size: 16px;
          color: #d1ab6a;
          letter-spacing: 0;
          font-weight: 700;
          padding-right: 12px;
        }
      }
    }
  }
  .swiper-container {
    width: 100%;
    .swiper-wrapper {
      .swiper-slide {
        .main-slide {
          .slide-title {
            width: 90%;
            a {
              display: block;
              font-family: SourceHanSerifCN-Medium, simsun;
              font-size: 20px;
              color: #1e1839;
              letter-spacing: 0;
              font-weight: 700;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
          .slide-date {
            margin-top: 17px;
            font-size: 22px;
            color: #d1ab6a;
            font-family: Butler_Bold;
            letter-spacing: 1px;
            font-weight: 700;
            a {
              font-size: 22px;
              color: #d1ab6a;
              font-family: Butler_Bold;
              letter-spacing: 1px;
              font-weight: 700;
            }
          }
          .slide-text {
            width: 90%;
            margin-top: 22px;
            a {
              font-size: 14px;
              color: #777777;
              letter-spacing: 0;
              line-height: 24px;
              font-family: PingFangSC-Medium;
              font-weight: 500;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
            }
          }
        }
      }
    }
    .swiper-pagination {
      width: auto;
      top: 100px;
      position: absolute;
      .swiper-pagination-bullet {
        width: 4px;
        height: 4px;
        margin: 16px 0;
        display: block;
        background: #ffffff;
        border: 2px solid #b6b6b6;
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        background: #004098;
        border: 2px solid #004098;
      }
    }
  }
  .slide-more {
    margin-top: 16px;
    a {
      font-family: PingFangSC-Medium;
      font-size: 14px;
      color: #d1ab6a;
      letter-spacing: 0.58px;
      font-weight: 500;
      img {
        margin-left: 6px;
      }
    }
  }
}

.middle {
  .main-banner {
    .swiper-slide {
      position: relative;
      width: 100%;
      height: 35.6vw;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      &.slide1 {
        background: url("../image/banner01.jpg") no-repeat center / cover;
      }
      &.slide2 {
        background: url("../image/banner02.jpg") no-repeat center / cover;
      }
      &.slide3 {
        background: url("../image/banner03.jpg") no-repeat center / cover;
      }
    }
    .swiper-pagination {
      width: auto;
      left: 8.3%;
      top: 80%;
      .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        background: #ffffff;
        &.swiper-pagination-bullet-active {
          width: 40px;
          height: 16px;
          background: #d1ab6a;
          border-radius: 12px;
        }
      }
    }
  }
}

.main-container {
  display: none;
  &.active {
    display: block;
  }
}

.article-banner {
  position: relative;
  .article-banner-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 32%;
    height: 87%;
    padding-top: 34px;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.article-photo {
  padding: 40px 0;
  font-size: 0;
  //图片并列
  .article-photo-1 {
    width: 32%;
    height: 16.2%;
    display: inline-block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8.7% 0;
    &:hover {
      a:after {
        content: url("../image/right-circle-fill.svg");
        width: 16px;
        height: 16px;
        position: relative;
        left: 6px;
      }
    }
    .en {
      width: 50%;
      font-size: 32px;
      color: #ffffff;
      letter-spacing: 0;
      font-family: Butler_Bold;
      line-height: 36px;
      font-weight: 700;
      opacity: 0.5;
      position: absolute;
      top: 15%;
      left: 7%;
    }
    .cn > a {
      width: auto;
      font-family: SourceHanSerifCN-Bold, simsun;
      font-size: 24px;
      color: #ffffff;
      letter-spacing: 1px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      font-weight: 700;
      position: absolute;
      top: 48%;
      left: 7%;
    }
  }
  .article-photo-2 {
    width: 18%;
    height: 16.2%;
    display: inline-block;
    padding-top: 17.4%;
    position: relative;
    &:hover {
      a:after {
        content: url("../image/right-circle-fill.svg");
        width: 16px;
        height: 16px;
        position: relative;
        left: 6px;
      }
    }
    .en {
      width: 80%;
      font-size: 32px;
      color: #ffffff;
      letter-spacing: 0;
      font-family: Butler_Bold;
      line-height: 36px;
      font-weight: 700;
      opacity: 0.3;
      position: absolute;
      top: 15%;
      left: 5%;
    }
    .cn > a {
      width: auto;
      font-family: SourceHanSerifCN-Bold, simsun;
      font-size: 24px;
      color: #ffffff;
      letter-spacing: 1px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      font-weight: 700;
      position: absolute;
      top: 48%;
      left: 5%;
    }
  }
  .donate {
    //img {
    //    width: 100%;
    //}
    background-image: url("../image/donate.jpg");
  }
  .information {
    background: linear-gradient(180deg, #4388d1 0%, #367dc9 100%);
  }
  .guideline {
    background-image: linear-gradient(180deg, #e8be77 0%, #caa361 100%);
  }
  .financing {
    background-image: url("../image/financing.jpg");
  }
}

@media screen and (max-width: 768px) {
  .article-photo {
    padding: 22px 0 30px;
    .article-photo-1 {
      width: 100%;
      padding: 20% 0;
      .en {
        font-size: 24px;
        line-height: 24px;
      }
      .cn {
        a {
          font-size: 20px;
          top: 52%;
        }
      }
    }
    .article-photo-2 {
      width: 50%;
      margin: 16px 0;
      padding: 17% 0;
      .en {
        font-size: 24px;
        line-height: 24px;
      }
      .cn {
        a {
          font-size: 20px;
          top: 52%;
        }
      }
    }
    .donate {
      background-image: url("../image/mobile/donate.jpg");
    }
    .financing {
      background-image: url("../image/mobile/financing.jpg");
    }
  }
  .article-banner {
    .menu-level {
      top: -24px;
      .level-button {
        width: 100px;
        height: 64px;
        .level-button-en {
          font-size: 26px;
          left: 8px;
        }
        .level-button-cn {
          font-size: 14px;
          left: 8px;
        }
      }
    }
    .article-banner-right {
      position: relative;
      width: 100%;
      height: auto;
      right: unset;
      top: unset;
      padding: 0;
    }
    .main-container {
      width: 100%;
      padding-bottom: 54px;
      ul {
        li {
          margin-top: 16px;
          &:first-child {
            margin: 0;
          }
          a {
            font-size: 14px;
            .day {
              font-size: 14px;
              padding-right: 14px;
            }
          }
        }
      }
      .swiper-container {
        padding-bottom: 54px;
        .swiper-wrapper {
          .swiper-slide {
            .main-slide {
              .slide-title {
                width: 100%;
                a {
                  font-size: 18px;
                  font-weight: 500;
                  color: #0b0625;
                  white-space: unset;
                  text-overflow: unset;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                }
              }
              .slide-date {
                margin-top: 10px;
                a {
                  font-size: 20px;
                }
              }
              .slide-text {
                width: 100%;
                margin: 16px 0 0;
              }
              .slide-more {
                margin-top: 10px;
              }
            }
          }
        }
        .swiper-pagination {
          width: 100%;
          display: block;
          top: unset;
          bottom: 30px;
          .swiper-pagination-bullet {
            display: inline-block;
            margin: 0 4px;
          }
        }
      }
    }
  }
  .middle {
    .main-banner {
      .swiper-container {
        .swiper-wrapper {
          .swiper-slide {
            width: 100%;
            height: 54vw;
            &.slide1 {
              background: url("../image/mobile/banner1.jpg") no-repeat center /
                cover;
            }
            &.slide2 {
              background: url("../image/mobile/banner2.jpg") no-repeat center /
                cover;
            }
            &.slide3 {
              background: url("../image/mobile/banner3.jpg") no-repeat center /
                cover;
            }
          }
        }
        .swiper-pagination {
          left: 3.7%;
          top: 65%;
          .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            border-radius: 7.5px;
            background: #ffffff;
            opacity: 1;
            &.swiper-pagination-bullet-active {
              width: 25px;
              height: 10px;
              background: #d1ab6a;
              border-radius: 7.5px;
            }
          }
        }
      }
    }
  }
}
