._banner {
  background: url("../image/information-dynamic/big-news.jpg") no-repeat center /
    cover;
}
.main {
  ._article {
    font-size: 0;
    min-height: 500px;
    ._article-right {
      #article-list {
        margin-bottom: 32px;
        li {
          padding: 20px 0;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          &:hover {
            .article-text {
              color: #d1ab6a;
            }
          }
          .article-date {
            font-family: Butler-Bold;
            display: block;
            font-size: 14px;
            color: #d1ab6a;
            letter-spacing: 0.88px;
            font-weight: 700;
          }
          .article-text {
            padding-top: 12px;
            font-family: SourceHanSerifCN-Medium, SimSun;
            display: block;
            font-size: 20px;
            color: #1e1839;
            letter-spacing: 0;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          a {
            padding-top: 12px;
            display: block;
            font-family: SourceHanSerifCN-Medium, simsun;
            font-size: 20px;
            color: #1e1839;
            letter-spacing: 0;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.paging_content {
  h2 {
    font-size: 24px;
    font-family: SourceHanSerifCN-Medium, SimSun;
    color: #0b0625;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 32px;
    padding-left: 22px;
    position: relative;
    &:before {
      content: "";
      width: 10px;
      height: 10px;
      background: #d1ab6a;
      position: absolute;
      top: 12px;
      left: 0;
    }
  }
  h3 {
    font-family: SourceHanSerifCN-Medium, SimSun;
    font-size: 20px;
    color: #0b0625;
    letter-spacing: 0.83px;
    font-weight: 500;
    margin-top: 32px;
  }

  p {
    font-size: 16px;
    color: #666666;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 400;
    margin-top: 24px;
    // position: relative;
    font-family: PingFangSC-Regular;
    strong {
      font-size: 16px;
      color: #666666;
      letter-spacing: 0;
      line-height: 28px;
      font-weight: 700;
    }
  }

  table {
    margin-top: 24px;
    width: 100%;
    tr {
      width: 100%;
      height: 49px;
      text-align: left;
      p {
        font-family: PingFangSC-Medium;
        padding-left: 40px;
        font-size: 16px;
      }
      &:nth-child(even) > td {
        background: #f2f6fe;
      }
      th {
        background: #133572;
        p {
          color: #ffffff;
          font-weight: 500;
        }
      }
      td {
        p {
          color: #5e5e5e;
          font-weight: 400;
        }
        &:first-child > p {
          color: #5a5a5a;
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    ._banner {
      background: url("../image/mobile/big-news.jpg") no-repeat center / cover;
    }
    ._article {
      ._article-right {
        #article-list {
          li {
            padding: 16px 0;
            .article-date {
              font-size: 12px;
              letter-spacing: 0.5px;
            }
            .article-text {
              padding-top: 10px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .paging_content {
    h2 {
      margin-top: 30px;
      font-size: 18px;
      padding-left: 14px;
      &:before {
        width: 6px;
        height: 6px;
        top: 8px;
      }
    }
    h3 {
      margin-top: 24px;
      font-size: 16px;
    }
    > p {
      margin-top: 20px;
      font-size: 14px;
      strong {
        font-size: 14px;
        font-weight: 700;
      }
    }

    ._table {
      margin-top: 20px;
      tr {
        height: auto;
        text-align: left;
        p {
          margin-top: 0;
          margin-left: 10px;
          padding: 13px 0;
        }
      }
    }
  }
}
