._banner {
  background: url("../image/information-dynamic/big-news.jpg") no-repeat center /
    cover;
}

.main {
  ._article {
    font-size: 0;
    ._article-right {
      ._news-list {
        display: block;
        margin-bottom: 32px;
        > li {
          padding: 10px 0;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          font-size: 0;
          position: relative;
          &:hover > .list-right {
            .list-right-title {
              a {
                color: #d1ab6a;
              }
            }
            .list-right-text {
              a {
                color: #d1ab6a;
              }
            }
          }
          .list-left {
            width: 20%;
            display: inline-block;
            position: absolute;
            left: 0;
            img {
              width: 100%;
              height: 142px;
              object-fit: cover;
            }
          }
          .list-right {
            width: 73%;
            display: inline-block;
            position: relative;
            left: 20%;
            padding-left: 32px;
            margin: 12px 0;
            .list-right-date {
              font-family: Butler-Bold;
              font-size: 14px;
              color: #d1ab6a;
              letter-spacing: 0.88px;
              font-weight: 700;
            }
            .list-right-title {
              margin-top: 12px;
              > a {
                font-family: SourceHanSerifCN-Medium, simsun;
                font-size: 20px;
                color: #1e1839;
                letter-spacing: 0;
                font-weight: 600;
                overflow: hidden;
                display: block;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
            .list-right-text {
              margin-top: 12px;
              > a {
                height: 48px;
                font-size: 14px;
                color: #a0a5ab;
                letter-spacing: 0;
                line-height: 24px;
                font-weight: 500;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    ._banner {
      background: url("../image/mobile/big-news.jpg") no-repeat center / cover;
    }
    ._article {
      ._article-right {
        ._news-list {
          > li {
            .list-left {
              width: 30.5%;
              img {
                height: 80px;
                object-fit: cover;
              }
            }
            .list-right {
              width: 62%;
              height: 80px;
              left: 30.5%;
              margin: 0;
              padding-left: 10px;
              .list-right-text {
                display: none;
              }
              .list-right-date {
                margin-top: 8px;
                a {
                  font-size: 12px;
                }
              }
              .list-right-title {
                margin-top: 12px;
                height: 38px;
                a {
                  font-size: 14px;
                  text-overflow: unset;
                  white-space: unset;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                }
              }
            }
          }
        }
      }
    }
  }
}
