._banner {
  background: url("../image/information-dynamic/big-news.jpg") no-repeat center/cover;
}

.main ._article {
  font-size: 0;
  min-height: 500px;
}

.main ._article ._article-right #article-list {
  margin-bottom: 32px;
}

.main ._article ._article-right #article-list li {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main ._article ._article-right #article-list li:hover .article-text {
  color: #d1ab6a;
}

.main ._article ._article-right #article-list li .article-date {
  font-family: Butler-Bold;
  display: block;
  font-size: 14px;
  color: #d1ab6a;
  letter-spacing: 0.88px;
  font-weight: 700;
}

.main ._article ._article-right #article-list li .article-text {
  padding-top: 12px;
  font-family: SourceHanSerifCN-Medium, SimSun;
  display: block;
  font-size: 20px;
  color: #1e1839;
  letter-spacing: 0;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main ._article ._article-right #article-list li a {
  padding-top: 12px;
  display: block;
  font-family: SourceHanSerifCN-Medium, simsun;
  font-size: 20px;
  color: #1e1839;
  letter-spacing: 0;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.paging_content h2 {
  font-size: 24px;
  font-family: SourceHanSerifCN-Medium, SimSun;
  color: #0b0625;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 32px;
  padding-left: 22px;
  position: relative;
}

.paging_content h2:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #d1ab6a;
  position: absolute;
  top: 12px;
  left: 0;
}

.paging_content h3 {
  font-family: SourceHanSerifCN-Medium, SimSun;
  font-size: 20px;
  color: #0b0625;
  letter-spacing: 0.83px;
  font-weight: 500;
  margin-top: 32px;
}

.paging_content p {
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 400;
  margin-top: 24px;
  font-family: PingFangSC-Regular;
}

.paging_content p strong {
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 700;
}

.paging_content table {
  margin-top: 24px;
  width: 100%;
}

.paging_content table tr {
  width: 100%;
  height: 49px;
  text-align: left;
}

.paging_content table tr p {
  font-family: PingFangSC-Medium;
  padding-left: 40px;
  font-size: 16px;
}

.paging_content table tr:nth-child(even) > td {
  background: #f2f6fe;
}

.paging_content table tr th {
  background: #133572;
}

.paging_content table tr th p {
  color: #ffffff;
  font-weight: 500;
}

.paging_content table tr td p {
  color: #5e5e5e;
  font-weight: 400;
}

.paging_content table tr td:first-child > p {
  color: #5a5a5a;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .main ._banner {
    background: url("../image/mobile/big-news.jpg") no-repeat center/cover;
  }
  .main ._article ._article-right #article-list li {
    padding: 16px 0;
  }
  .main ._article ._article-right #article-list li .article-date {
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  .main ._article ._article-right #article-list li .article-text {
    padding-top: 10px;
    font-size: 14px;
  }
  .paging_content h2 {
    margin-top: 30px;
    font-size: 18px;
    padding-left: 14px;
  }
  .paging_content h2:before {
    width: 6px;
    height: 6px;
    top: 8px;
  }
  .paging_content h3 {
    margin-top: 24px;
    font-size: 16px;
  }
  .paging_content > p {
    margin-top: 20px;
    font-size: 14px;
  }
  .paging_content > p strong {
    font-size: 14px;
    font-weight: 700;
  }
  .paging_content ._table {
    margin-top: 20px;
  }
  .paging_content ._table tr {
    height: auto;
    text-align: left;
  }
  .paging_content ._table tr p {
    margin-top: 0;
    margin-left: 10px;
    padding: 13px 0;
  }
}
