._banner {
  background: url("../image/information-dynamic/big-news.jpg") no-repeat center/cover;
}

._article-right {
  width: 70%;
}

._articles {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 60px;
}

._articles h1 {
  font-size: 32px;
  font-family: SourceHanSerifCN-Medium, SimSun;
  color: #0b0625;
  letter-spacing: 0;
  font-weight: 500;
}

._articles ._articles-date {
  margin-top: 32px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

._articles ._articles-date ._date {
  font-family: Butler-Bold;
  font-size: 14px;
  color: #d1ab6a;
  letter-spacing: 1px;
  font-weight: 700;
}

._articles ._articles-date ._more {
  margin-top: 12px;
}

._articles ._articles-date ._more span {
  font-size: 12px;
  font-family: PingFangSC-Regular;
  color: #9d9d9d;
  letter-spacing: 0;
  font-weight: 400;
  margin-right: 25px;
}

._articles h2 {
  font-size: 24px;
  font-family: SourceHanSerifCN-Medium, SimSun;
  color: #0b0625;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 32px;
  padding-left: 22px;
  position: relative;
}

._articles h2:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #d1ab6a;
  position: absolute;
  top: 12px;
  left: 0;
}

._articles h3 {
  font-family: SourceHanSerifCN-Medium, SimSun;
  font-size: 20px;
  color: #0b0625;
  letter-spacing: 0.83px;
  font-weight: 500;
  margin-top: 32px;
}

._articles p {
  font-size: 16px !important;
  color: #666666 !important;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 400;
  margin-top: 24px;
  position: relative;
  font-family: PingFangSC-Regular;
}

._articles p span {
  font-size: 16px !important;
  color: #666666 !important;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 400;
  margin-top: 24px;
  font-family: PingFangSC-Regular;
}

._articles p span span {
  font-size: 16px !important;
  color: #666666 !important;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 400;
  margin-top: 24px;
  font-family: PingFangSC-Regular;
}

._articles p a {
  width: 48%;
  display: inline-block;
  padding: 23px 0;
  text-align: center;
}

._articles p a img {
  vertical-align: middle;
}

._articles p a:nth-child(even) {
  position: absolute;
  right: 0;
}

._articles p a.zxjz {
  background-image: linear-gradient(180deg, #e8be77 0%, #caa361 100%);
}

._articles p a.yhk {
  background-image: linear-gradient(180deg, #4388d1 0%, #367dc9 100%);
}

._articles ._lists {
  letter-spacing: 1px;
  text-align: justify;
}

._articles ._pic {
  margin-top: 24px;
  margin-bottom: 8px;
}

._articles ._pic img {
  width: 100%;
}

._articles ._table {
  margin-top: 24px;
  width: 100%;
}

._articles ._table tr {
  width: 100%;
  height: 49px;
  text-align: left;
}

._articles ._table tr p {
  font-family: PingFangSC-Medium;
  padding-left: 40px;
  font-size: 16px;
}

._articles ._table tr:nth-child(even) > td {
  background: #f2f6fe;
}

._articles ._table tr th {
  background: #133572;
}

._articles ._table tr th p {
  color: #ffffff;
  font-weight: 500;
}

._articles ._table tr td p {
  color: #5e5e5e;
  font-weight: 400;
}

._articles ._table tr td:first-child > p {
  color: #5a5a5a;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  ._banner {
    background: url("../image/mobile/big-news.jpg") no-repeat center/cover;
  }
  ._article ._article-right ._articles {
    padding: 30px 0;
  }
  ._article ._article-right ._articles h1 {
    font-size: 20px;
  }
  ._article ._article-right ._articles ._articles-date {
    margin-top: 20px;
    padding-bottom: 24px;
  }
  ._article ._article-right ._articles ._articles-date ._more {
    margin-top: 8px;
  }
  ._article ._article-right ._articles ._articles-date ._more span {
    margin-right: 16px;
  }
  ._article ._article-right ._articles h2 {
    margin-top: 30px;
    font-size: 18px;
    padding-left: 14px;
  }
  ._article ._article-right ._articles h2:before {
    width: 6px;
    height: 6px;
    top: 8px;
  }
  ._article ._article-right ._articles h3 {
    margin-top: 24px;
    font-size: 16px;
  }
  ._article ._article-right ._articles > p {
    margin-top: 20px;
    font-size: 14px;
  }
  ._article ._article-right ._articles ._table {
    margin-top: 20px;
  }
  ._article ._article-right ._articles ._table tr {
    height: auto;
    text-align: left;
  }
  ._article ._article-right ._articles ._table tr p {
    margin-top: 0;
    margin-left: 10px;
    padding: 13px 0;
  }
  .details ._article-right ._articles > p {
    margin-top: 16px;
  }
  .details ._article-right ._articles > p a {
    padding: 10px 0;
    line-height: 14px;
  }
  .details ._article-right ._articles > p a img {
    width: 12px;
    height: 12px;
  }
  .details ._article-right ._articles > p a span {
    font-size: 12px;
    margin-left: 5px;
  }
}
