.main ._article {
  font-size: 0;
}

.main ._article ._article-right {
  position: relative;
  display: inline-block;
  width: 77%;
  padding-left: 40px;
}

.main ._article ._article-right .title-main {
  padding: 40px 0 43px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main ._article ._article-right .title-main .main-title-left .title-cn {
  position: absolute;
  top: 70px;
  font-weight: 500;
}

.main ._article ._article-right .title-main .main-title-right {
  position: absolute;
  right: 0;
  top: 81px;
}

.main ._article ._article-right ._brief-article {
  padding: 32px 0 60px;
}

.main ._article ._article-right ._brief-article h2 {
  font-size: 30px;
  color: #003b8c;
  letter-spacing: 1px;
  font-weight: 900;
}

.main ._article ._article-right ._brief-article h3 {
  margin: 22px 6px 0;
  position: relative;
  opacity: 0.6;
  display: inline-block;
  font-size: 22px;
  color: #dfb876;
  letter-spacing: 1.16px;
  font-weight: 900;
}

.main ._article ._article-right ._brief-article h3#h3:after {
  content: "";
  width: 5px;
  height: 5px;
  background: #ebd4ad;
  border-radius: 4px;
  position: absolute;
  top: 12px;
  right: -8px;
}

.main ._article ._article-right ._brief-article p {
  font-size: 16px;
  color: #8b8ea0;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 500;
  margin-top: 32px;
  font-family: PingFangSC-Medium;
}

.main ._article ._article-right ._brief-article ._contact {
  margin-top: 24px;
  position: relative;
  height: 331px;
}

.main ._article ._article-right ._brief-article ._contact ._contact-left {
  width: 57%;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  background-image: url("../image/AboutsUs/global-school.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main ._article ._article-right ._brief-article ._contact ._contact-right {
  display: inline-block;
  position: relative;
  left: 57%;
  width: 40%;
  padding-left: 25px;
  background-image: linear-gradient(141deg, #dfb876 0%, #d1ab6a 100%);
  padding-top: 39px;
}

.main ._article ._article-right ._brief-article ._contact ._contact-right ._title {
  position: relative;
}

.main ._article ._article-right ._brief-article ._contact ._contact-right ._title ._en {
  font-family: Butler-Bold;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: 0;
  font-weight: 700;
}

.main ._article ._article-right ._brief-article ._contact ._contact-right ._title ._cn {
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 700;
  position: absolute;
  top: 20px;
}

.main ._article ._article-right ._brief-article ._contact ._contact-right > ul {
  margin-top: 43px;
  margin-bottom: 35px;
  padding:0;
}

.main ._article ._article-right ._brief-article ._contact ._contact-right > ul li {
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 500;
  margin-top: 12px;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main ._article ._article-right ._brief-article ._contact ._contact-right > ul li p {
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 500;
  margin: unset;
  line-height: unset;
}
