@font-face {
  font-family: "Butler_Bold", "Butler_Medium";
  src: url("../font-family/Butler_Bold.ttf"), url("../font-family/Butler_Medium.ttf");
}

body {
  font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
 "WenQuanYi Micro Hei", sans-serif;
}

.side_box {
  width: 25%;
  position: absolute;
  top: 0;
  right: -28%;
  z-index: 5;
  padding: 103px 16px 0 40px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
  visibility: hidden;
  background: #003b8c;
}

.side_box h4 {
  position: relative;
  color: white;
  padding-left: 30px;
  line-height: 28px;
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 16px;
}

.side_box h4:before {
  content: url("../image/earth.svg");
  position: absolute;
  width: 22px;
  height: 22px;
  top: 3px;
  left: 0;
}

.side_box > ul > li {
  float: left;
  position: relative;
  width: 33.33%;
  height: 330px;
}

.side_box > ul > li:after {
  content: "";
  width: 1px;
  height: 8px;
  background: #4d76ae;
  position: absolute;
  top: 5px;
  right: 30%;
}

.side_box > ul > li:last-child:after, .side_box > ul > li:nth-child(3):after, .side_box > ul > li:nth-child(6):after {
  display: none;
}

.side_box > ul > li.clear {
  clear: both;
  width: 100%;
  height: 0;
}

.side_box > ul > li a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 14px;
}

.side_box > ul > li a:hover {
  text-decoration: underline;
}

.side_box > ul > li > a {
  font-weight: 600;
  font-size: 14px;
  color: white;
}

.side_box > ul > li ul {
  padding-top: 10px;
}

.side_box > ul > li ul li {
  text-align: left;
  padding-top: 10px;
}

.side_box > ul > li ul li ul {
  display: none;
}

#side_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 5;
  display: none;
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
  opacity: 0.2;
}

.open_side_bar .side_box {
  right: 0;
  opacity: 1;
  visibility: visible;
}

.all {
  overflow: hidden;
  position: relative;
}

.main ._banner img {
  width: 100%;
display: inherit;
}

.main .main-title-left .title-en {
  opacity: 0.25;
  font-family: Butler-Bold;
  font-size: 48px;
  color: #d1ab6a;
  letter-spacing: 0;
  font-weight: 700;
}

.main .main-title-left .title-cn {
  font-size: 24px;
  color: #1c1e22;
  letter-spacing: 1px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
}

.main .possplit {
  background-image: url(../image/Financing_Project/next.svg);
  background-size: 10px 10px;
  vertical-align: text-bottom;
  height: 10px;
}

.main .main-title-right img {
  display: inline-block;
  vertical-align: sub;
}

.main .main-title-right a {
  display: inline-block;
  margin-left: 6px;
  vertical-align: sub;
  font-size: 14px;
  color: #999999;
  letter-spacing: 0.88px;
  font-weight: 500;
}

.main .main-title-right a:last-child {
  color: #d1ab6a;
}

._article-left {
  width: 16.5%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 50px;
}

._article-left ._left-bg {
  background: url("../image/information-dynamic/information-bg.jpg") no-repeat center/cover;
  width: 100%;
  padding-top: 52px;
  padding-bottom: 36px;
  text-align: center;
}

._article-left ._left-bg ._title-cn {
  font-size: 30px;
  color: #d1ab6a;
  letter-spacing: 1.25px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}

._article-left ._left-bg ._title-en {
  margin-top: 4px;
  opacity: 0.3;
  font-family: Butler-Bold;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0.7px;
  font-weight: 700;
}

._article-left ._left-list {
  width: 100%;
  display: block;
  background: #eef7ff;
}

._article-left ._left-list > li {
  position: relative;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

._article-left ._left-list > li .selected-child {
  display: none;
  top: 20px;
  position: relative;
}

._article-left ._left-list > li .selected-child li {
  padding: 13px 0;
  background: #e2e2e2;
}

._article-left ._left-list > li .selected-child li a {
  font-size: 14px;
  color: #787a7d;
  letter-spacing: 0;
  font-weight: 400;
}

._article-left ._left-list > li .selected-child li:hover, ._article-left ._left-list > li .selected-child li.tex {
  background: #0c4794;
}

._article-left ._left-list > li .selected-child li:hover a, ._article-left ._left-list > li .selected-child li.tex a {
  color: #ffffff;
}

._article-left ._left-list > li:hover .selected-child, ._article-left ._left-list > li.selected .selected-child {
  display: block;
}

._article-left ._left-list > li:hover:before, ._article-left ._left-list > li.selected:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-image: linear-gradient(269deg, #003b8c 0%, #003b8c 100%);
}

._article-left ._left-list > li:hover > a, ._article-left ._left-list > li.selected > a {
  color: #003b8c;
  font-weight: 600;
}

._article-left ._left-list > li:last-child {
  border-bottom: 0;
}

._article-left ._left-list > li > a {
  width: 100%;
  font-size: 16px;
  color: #787a7d;
  letter-spacing: 0;
  font-weight: 500;
}

.wp_paging {
  text-align: center;
  margin: 20px 0 60px 0;
  float: none;
}

.wp_paging li {
  float: none;
}
