.main {
  width: 100%; }
  .main .Financing_Article {
    padding: 48px 0 60px;
    position: relative; }
    .main .Financing_Article .main-title-left .title-cn {
      position: absolute;
      top: 80px; }
    .main .Financing_Article .main-title-right {
      position: absolute;
      top: 89px;
      right: 0; }
    .main .Financing_Article .title-thumbs {
      margin-top: 51px;
      position: relative;
      font-size: 0;
      display: flex;
      justify-content: space-around; }
      .main .Financing_Article .title-thumbs > li {
        width: 100%;
        background: rgba(209, 171, 106, 0.08);
        padding-left: 20px;
        padding-top: 42px;
        margin-right: 13px; }
        .main .Financing_Article .title-thumbs > li:last-child {
          margin-right: 0; }
        .main .Financing_Article .title-thumbs > li .article-title .title-en {
          font-family: Butler-Medium;
          font-size: 14px;
          color: rgba(209, 171, 106, 0.4);
          letter-spacing: 0;
          font-weight: 500; }
        .main .Financing_Article .title-thumbs > li .article-title .title-cn {
          font-size: 24px;
          color: #D1AB6A;
          letter-spacing: 1.5px;
          font-weight: 500; }
        .main .Financing_Article .title-thumbs > li .article_picture {
          margin-top: 20px;
          margin-bottom: 18px; }
          .main .Financing_Article .title-thumbs > li .article_picture img {
            width: 100%; }
        .main .Financing_Article .title-thumbs > li .article-list {
          height: auto;
          padding-right: 10px;
          padding-bottom: 30px; }
          .main .Financing_Article .title-thumbs > li .article-list > li {
            margin-bottom: 22px; }
            .main .Financing_Article .title-thumbs > li .article-list > li a {
              display: flex;
              font-size: 16px;
              color: #7D7E87;
              letter-spacing: 0;
              font-weight: 500; }
              .main .Financing_Article .title-thumbs > li .article-list > li a:hover {
                color: #D1AB6A; }
              .main .Financing_Article .title-thumbs > li .article-list > li a span {
                font-family: Butler-Medium;
                font-size: 16px;
                color: rgba(209, 171, 106, 0.7);
                letter-spacing: 0;
                text-align: center;
                font-weight: 500;
                margin-right: 6px; }

/*# sourceMappingURL=Financing_Project.css.map */
