.footer {
  background: #133572; }
  .footer .footer-main {
    font-size: 0; }
    .footer .footer-main .footer-list {
      position: relative;
      width: 100%;
      border-bottom: 0.5px solid rgba(255, 255, 255, 0.15); }
      .footer .footer-main .footer-list .footer-list-left {
        display: inline-block; }
        .footer .footer-main .footer-list .footer-list-left ul {
          width: 100%;
          display: flex; }
          .footer .footer-main .footer-list .footer-list-left ul li {
            padding: 20px 12px; }
            .footer .footer-main .footer-list .footer-list-left ul li:before {
              content: "";
              width: 1px;
              height: 4px;
              opacity: 0.3;
              border: 1px solid #FFFFFF;
              background: #FFFFFF;
              position: absolute;
              margin-top: 5px;
              margin-left: -12px; }
            .footer .footer-main .footer-list .footer-list-left ul li:first-child {
              padding-left: 0; }
              .footer .footer-main .footer-list .footer-list-left ul li:first-child:before {
                display: none; }
            .footer .footer-main .footer-list .footer-list-left ul li a {
              width: 100%; }
              .footer .footer-main .footer-list .footer-list-left ul li a span {
                font-size: 12px;
                color: #FFFFFF;
                letter-spacing: 0;
                font-weight: 400; }
      .footer .footer-main .footer-list .footer-list-right {
        position: absolute;
        right: 0;
        margin-top: -58px; }
        .footer .footer-main .footer-list .footer-list-right ul {
          display: flex; }
          .footer .footer-main .footer-list .footer-list-right ul li {
            padding: 20px 12px; }
            .footer .footer-main .footer-list .footer-list-right ul li:nth-child(2):before {
              content: "";
              width: 1px;
              height: 4px;
              opacity: 0.3;
              border: 1px solid #FFFFFF;
              background: #FFFFFF;
              position: absolute;
              margin-top: 5px;
              margin-left: -12px; }
            .footer .footer-main .footer-list .footer-list-right ul li span {
              font-size: 12px;
              color: #FFFFFF;
              letter-spacing: 0;
              font-weight: 400; }
            .footer .footer-main .footer-list .footer-list-right ul li:last-child {
              padding: 16px 0;
              display: flex; }
              .footer .footer-main .footer-list .footer-list-right ul li:last-child a:first-child {
                margin-right: 12px; }
    .footer .footer-main .footer-end {
      width: 100%;
      padding: 26px 0 24px; }
      .footer .footer-main .footer-end .end {
        display: block;
        position: relative; }
        .footer .footer-main .footer-end .end .certificate {
          width: 4.4%;
          float: left; }
          .footer .footer-main .footer-end .end .certificate img {
            width: 100%; }
        .footer .footer-main .footer-end .end .more {
          margin-left: 16px;
          display: inline-block; }
          .footer .footer-main .footer-end .end .more span {
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 0.5px;
            font-weight: 500; }
          .footer .footer-main .footer-end .end .more .address {
            text-align:left;
            margin-bottom: 5px; }
          .footer .footer-main .footer-end .end .more ul {
            display: flex; }
            .footer .footer-main .footer-end .end .more ul li {
              margin-right: 10px; }
        .footer .footer-main .footer-end .end .more-right {
          position: absolute;
          right: 0;
          margin-top: -18px; }
          .footer .footer-main .footer-end .end .more-right span {
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 0.5px;
            font-weight: 500; }

/*
@media screen and (max-width: 1096px){
  .footer-main{
    text-align: center;
    .footer-list{
      .footer-list-right{
        display: none;
      }
    }
    .footer-end{
      .certificate{
      display: none;
    }
      .more-right{
        display: none;
      }
    }
  }

}*/

/*# sourceMappingURL=footer.css.map */
