@font-face {
  font-family: Butler_Bold, Butler_Medium;
  src: url("../font-family/Butler_Bold.ttf"), url("../font-family/Butler_Medium.ttf");
}

.menu-level {
  font-size: 0;
  display: inline-block;
  position: relative;
  top: -40px;
  z-index: 1;
}

.menu-level .level-button {
  width: 130px;
  height: 71px;
  display: inline-block;
  background: #e2e2e2;
  position: relative;
}

.menu-level .level-button .level-button-en {
  font-size: 30px;
  color: #cfcfcf;
  letter-spacing: 0;
  font-family: Butler_Bold, serif;
  font-weight: 700;
  opacity: 0.3;
  position: absolute;
  top: 8px;
  left: 12px;
}

.menu-level .level-button .level-button-cn {
  font-size: 16px;
  color: #3a3842;
  letter-spacing: 1.14px;
  font-weight: 500;
  position: absolute;
  top: 30px;
  left: 12px;
}

.menu-level .level-button.active {
  background: #003b8c;
  box-shadow: 0px 2px 16px 0px rgba(31, 109, 237, 0.36);
}

.menu-level .level-button.active .level-button-en {
  color: #ffffff;
}

.menu-level .level-button.active .level-button-cn {
  color: #d1ab6a;
}

.menu-level .level-button.active:after {
  content: "";
  width: 0px;
  height: 0px;
  border-width: 10px;
  border-style: solid;
  border-color: #003b8c transparent transparent transparent;
  position: absolute;
  bottom: -20px;
  left: 44%;
}

.main-container {
  width: 65%;
  height: 206px;
  overflow: hidden;
}

.main-container .swiper-container {
  width: 100%;
}

.main-container .swiper-container .swiper-wrapper .swiper-slide .main-slide .slide-title {
  width: 90%;
}

.main-container .swiper-container .swiper-wrapper .swiper-slide .main-slide .slide-title a {
  display: block;
  font-size: 20px;
  color: #1e1839;
  letter-spacing: 0;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-container .swiper-container .swiper-wrapper .swiper-slide .main-slide .slide-date {
  margin-top: 17px;
  font-size: 22px;
  color: #d1ab6a;
  font-family: Butler_Bold, serif;
  letter-spacing: 1px;
  font-weight: 700;
}

.main-container .swiper-container .swiper-wrapper .swiper-slide .main-slide .slide-text {
  width: 90%;
  margin-top: 22px;
}

.main-container .swiper-container .swiper-wrapper .swiper-slide .main-slide .slide-text a {
  font-size: 14px;
  color: #777777;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.main-container .swiper-container .swiper-wrapper .swiper-slide .main-slide .slide-more {
  margin-top: 16px;
}

.main-container .swiper-container .swiper-wrapper .swiper-slide .main-slide .slide-more a {
  font-size: 14px;
  color: #d1ab6a;
  letter-spacing: 0.58px;
  font-weight: 500;
}

.main-container .swiper-container .swiper-wrapper .swiper-slide .main-slide .slide-more:after {
  content: url("../image/more.svg");
  position: relative;
  left: 6px;
}

.main-container .swiper-container .swiper-pagination {
  width: auto;
  top: 100px;
  position: absolute;
}

.main-container .swiper-container .swiper-pagination .swiper-pagination-bullet {
  margin: 16px 0;
  display: block;
  background: #ffffff;
  border: 2px solid #b6b6b6;
  opacity: 1;
}

.main-container .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: #007aff;
  border: 2px solid #007aff;
}

.middle .main-banner .swiper-slide {
  position: relative;
}

.middle .main-banner .swiper-slide img {
  width: 100%;
}

.middle .main-banner .swiper-slide .text {
  width: 37%;
  font-size: 0;
  position: absolute;
  left: 8.3%;
  top: 30%;
  display: inline-block;
}

.middle .main-banner .swiper-slide .text .title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.middle .main-banner .swiper-slide .text .title span {
  font-size: 38px;
  color: #ffffff;
  letter-spacing: 2px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  font-weight: 900;
}

.middle .main-banner .swiper-slide .text .title span:nth-child(2) {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  margin: 8px 16px;
}

.middle .main-banner .swiper-slide .text .title-en {
  width: 100%;
  font-family: Butler_Medium, serif;
  margin-top: 0.8%;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.35px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.middle .main-banner .swiper-slide .text .article {
  width: 100%;
  margin-top: 5.6%;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 24px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.middle .main-banner .swiper-pagination {
  width: auto;
  left: 8.3%;
  top: 80%;
}

.middle .main-banner .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #ffffff;
}

.middle .main-banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 40px;
  height: 16px;
  background: #d1ab6a;
  border-radius: 12px;
}

.main-container {
  display: none;
}

.main-container.active {
  display: block;
}

.article-banner {
  position: relative;
}

.article-banner .article-banner-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 32%;
  height: 87%;
  padding-top: 34px;
  z-index: 1;
}

.article-banner .article-banner-right img {
  width: 100%;
  height: 100%;
}

.article-photo {
  padding: 40px 0;
  font-size: 0;
}

.article-photo .article-photo-1 {
  width: 32%;
  height: 16.2%;
  display: inline-block;
  position: relative;
}

.article-photo .article-photo-1:hover a:after {
  content: url("../image/right-circle-fill.svg");
  width: 16px;
  height: 16px;
  position: relative;
  left: 6px;
}

.article-photo .article-photo-1 .en {
  width: 50%;
  font-size: 32px;
  color: #ffffff;
  letter-spacing: 0;
  font-family: Butler_Bold, serif;
  line-height: 36px;
  font-weight: 700;
  opacity: 0.5;
  position: absolute;
  top: 25%;
  left: 7%;
}

.article-photo .article-photo-1 .cn > a {
  width: auto;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  position: absolute;
  top: 48%;
  left: 7%;
}

.article-photo .article-photo-2 {
  width: 18%;
  height: 16.2%;
  display: inline-block;
  padding-top: 17.4%;
  position: relative;
}

.article-photo .article-photo-2:hover a:after {
  content: url("../image/right-circle-fill.svg");
  width: 16px;
  height: 16px;
  position: relative;
  left: 6px;
}

.article-photo .article-photo-2 .en {
  width: 80%;
  font-size: 32px;
  color: #ffffff;
  letter-spacing: 0;
  font-family: Butler_Bold, serif;
  line-height: 36px;
  font-weight: 700;
  opacity: 0.3;
  position: absolute;
  top: 25%;
  left: 5%;
}

.article-photo .article-photo-2 .cn > a {
  width: auto;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  position: absolute;
  top: 48%;
  left: 5%;
}

.article-photo .donate img {
  width: 100%;
}

.article-photo .information {
  background: linear-gradient(180deg, #4388d1 0%, #367dc9 100%);
}

.article-photo .guideline {
  background-image: linear-gradient(180deg, #e8be77 0%, #caa361 100%);
}

.article-photo .financing img {
  width: 100%;
}

.swiper-pagination-bullet {
  opacity: 1;
}
