.main ._article {
  font-size: 0; }
  .main ._article ._article-right {
    position: relative;
    display: inline-block;
    left: 20%;
    width: 77%;
    padding-left: 40px; }
    .main ._article ._article-right .title-main {
      padding: 40px 0 43px;
      position: relative;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .main ._article ._article-right .title-main .main-title-left .title-cn {
        position: absolute;
        top: 70px;
        font-weight: 500; }
      .main ._article ._article-right .title-main .main-title-right {
        position: absolute;
        right: 0;
        top: 81px; }
    .main ._article ._article-right ._news-list {
      display: block;
      margin-bottom: 32px; }
      .main ._article ._article-right ._news-list > li {
        padding: 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 0;
        position: relative; }
        .main ._article ._article-right ._news-list > li:hover > .list-right .list-right-title a {
          color: #D1AB6A; }
        .main ._article ._article-right ._news-list > li:hover > .list-right .list-right-text a {
          color: #D1AB6A; }
        .main ._article ._article-right ._news-list > li .list-left {
          width: 20%;
          display: inline-block;
          position: absolute;
          left: 0; }
          .main ._article ._article-right ._news-list > li .list-left img {
            width: 100%; }
        .main ._article ._article-right ._news-list > li .list-right {
          width: 73%;
          display: inline-block;
          position: relative;
          left: 20%;
          padding-left: 32px;
          margin: 0.85vw 0; }
          .main ._article ._article-right ._news-list > li .list-right .list-right-date > a {
            font-family: Butler-Bold;
            font-size: 14px;
            color: #D1AB6A;
            letter-spacing: 0.88px;
            font-weight: 700; }
          .main ._article ._article-right ._news-list > li .list-right .list-right-title {
            margin-top: 0.85vw; }
            .main ._article ._article-right ._news-list > li .list-right .list-right-title > a {
              font-size: 20px;
              color: #1E1839;
              letter-spacing: 0;
              font-weight: 500;
              overflow: hidden;
              display: block;
              text-overflow: ellipsis;
              white-space: nowrap; }
          .main ._article ._article-right ._news-list > li .list-right .list-right-text {
            margin-top: 0.85vw; }
            .main ._article ._article-right ._news-list > li .list-right .list-right-text > a {
              font-size: 14px;
              color: #A0A5AB;
              letter-spacing: 0;
              line-height: 24px;
              font-weight: 500;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2; }

/*# sourceMappingURL=information-dynamic.css.map */
