._articles {
  width: 60%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 60px;
}

._articles h1 {
  font-size: 32px;
  color: #0b0625;
  letter-spacing: 0;
  font-weight: 500;
}

._articles ._articles-date {
  margin-top: 32px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

._articles ._articles-date ._date {
  font-family: Butler-Bold;
  font-size: 14px;
  color: #d1ab6a;
  letter-spacing: 1px;
  font-weight: 700;
}

._articles ._articles-date ._more {
  margin-top: 12px;
}

._articles ._articles-date ._more span {
  font-size: 12px;
  color: #9d9d9d;
  letter-spacing: 0;
  font-weight: 400;
  margin-right: 25px;
}

._articles h2 {
  font-size: 24px;
  color: #0b0625;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 32px;
  padding-left: 22px;
  position: relative;
}

._articles h2:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #d1ab6a;
  position: absolute;
  top: 12px;
  left: 0;
}

._articles h3 {
  font-size: 20px;
  color: #0b0625;
  letter-spacing: 0.83px;
  font-weight: 500;
  margin-top: 32px;
  line-height: 48px;
}

._articles p {
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 400;
  font-family: PingFangSC-Regular;
}

._articles ._lists {
  letter-spacing: 1px;
  text-align: justify;
}

._articles ._pic {
  margin-top: 24px;
  margin-bottom: 8px;
}

._articles ._pic img {
  width: 100%;
}

._articles ._table {
  margin-top: 24px;
  width: 100%;
}

._articles ._table tr {
  width: 100%;
  height: 49px;
  text-align: left;
}

._articles ._table tr p {
  padding-left: 40px;
  font-size: 16px;
}

._articles ._table tr:nth-child(even) > td {
  background: #f2f6fe;
}

._articles ._table tr th {
  background: #133572;
}

._articles ._table tr th p {
  color: #ffffff;
  font-weight: 500;
}

._articles ._table tr td p {
  color: #5e5e5e;
  font-weight: 400;
}

._articles ._table tr td:first-child > p {
  color: #5a5a5a;
  font-weight: 600;
}
