.main ._article {
  font-size: 0;
}

.main ._article ._article-right {
  display: inline-block;
  left: 20%;
  width: 77%;
  padding-left: 40px;
}

.main ._article ._article-right .title-main {
  padding: 40px 0 43px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main ._article ._article-right .title-main .main-title-left .title-cn {
  position: absolute;
  top: 70px;
  font-weight: 500;
}

.main ._article ._article-right .title-main .main-title-right {
  position: absolute;
  right: 0;
  top: 81px;
}

.main ._article ._article-right #article-list {
  margin-bottom: 32px;
}

.main ._article ._article-right #article-list li {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main ._article ._article-right #article-list li:hover .article-text {
  color: #d1ab6a;
}

.main ._article ._article-right #article-list li .article-date {
  font-family: Butler-Bold;
  display: block;
  font-size: 14px;
  color: #d1ab6a;
  letter-spacing: 0.88px;
  font-weight: 700;
}

.main ._article ._article-right #article-list li a {
  padding-top: 12px;
  display: block;
  font-size: 20px;
  color: #1e1839;
  letter-spacing: 0;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
